/*------------------------------------*\
    MAIN
\*------------------------------------*/


a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}



/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4em;
	color:#444;
	color: #666;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}

a{color: inherit; text-decoration: none;}
a:hover {text-decoration: none;}

/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

h2 {font-size: 2.5em; color: #4F4637; text-align: center; font-weight: 400; margin: 70px 0 30px;}
h3 {font-size: 1.5em; color: #4F4637; text-align: center; font-weight: 400; margin-bottom: 30px;}
h4 {font-size: 1.5em; color: #ffffff; text-align: left; font-weight: 400; margin-bottom: 10px;}
h5 {font-size: 1.1em; color: #4F4637; text-align: left; font-weight: 600; margin-bottom: 10px;}
h6 { text-align: center; font-weight: bold; text-transform: uppercase; color: #4F4637; padding: 80px 15px; font-size: 1.5em; }


p{line-height: 180%; margin-bottom: 20px; font-weight: 300;}

hr {border-color: #FE4444; width: 12%; margin-bottom: 30px;}
hr.littlehr {border: solid 1px #979797; width: 12%; text-align: left; margin-bottom: 10px; display: inline-block;}

.justify {text-align: justify;}

a {color: #4B78D2;}

form {margin: 50px 0}
input, textarea {width: 100%; padding: 10px; background: #F6F6F5; color: #777; border: solid 1px #EBEBEB; font-size: 1.2em; margin-bottom: 20px;}
textarea {height: 200px;}
input[type="submit"] { width: initial; text-transform: uppercase; color: #32B1E8; border: solid 2px #32B1E8; text-align: right; background: #fff; display: inline-block; padding: 7px 60px; font-size: 1.2em; font-weight: bold; float: right;}

.warning {background: #FAD9DD; border: solid 1px #F0495D; color: #F0495D; padding: 20px; }
.success {background: #E5F4E4; border: solid 1px #50D741; color: #50D741; padding: 20px; }

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
	max-width:930px;
	width:95%;
	margin:0 auto;
	position:relative;
}
/* header */
header, header a {color: #cecece !important; height: 50px;}
header .logo {float: left; font-size: 1.4em; padding: 15px; font-weight: 400;}
.bsf {font-weight: bold;}
header nav ul {float: right;}
header nav ul li {display: inline-block; padding: 20px 15px 15px 15px}
header nav ul li a {
	font-weight: bold;
	text-transform: uppercase;
}


/* footer */
footer {
	background: #3D454B;
	padding: 30px;
}

.bsf-footer {color: #CECECE; font-weight: bold; font-size: 2em; margin-bottom: -10px;}
.bsf-footer span {font-weight: 400;}

.social-links {margin-left: 40px;}
#linkedin { font-size: 0;background: url(img/linkedin.png) no-repeat center;background-size: 30px 30px; height: 30px;width: 30px;display: inline-block;}
#facebook { font-size: 0;background: url(img/facebook.png) no-repeat center;background-size: 30px 30px; height: 30px;width: 30px;display: inline-block; margin-left: 10px;}

/*------------------------------------*\
    PAGES
\*------------------------------------*/





.portfolio .col-sm-6, .computerpic .col-sm-6 {padding: 0 !important;}
.enclosing_img {width: 100%; position: relative; padding: 35%;}
.enclosing_img a {display:block; font-size: 0; position: absolute; top: 0; right: 0; width: 100%; min-height: 100%;}
#pbb {background: url(img/pbb.png)  no-repeat; background-size: cover !important; background-position: center}
#technis {background: url(img/technis.png)  no-repeat; background-size: cover; background-position: center}
#ace {background: url(img/ace.png)  no-repeat; background-size: cover; background-position: center}
#computer {background: url(img/pbb_mock.png)  no-repeat; background-size: cover; background-position: center}
#superb {background: url(img/superb.jpg)  no-repeat; background-size: cover; background-position: center}


/*
.slider * {outline: 1px solid red}*/

/*BANNER*/
.banner {height: 250px;}
.index-banner {background: #FFC300;}
.nous-banner {background: #DF1E85;}
.travail-banner {background: #50D741; overflow: hidden;}
.contact-banner {background: #00C4FF;}

.slider { position: relative; overflow: auto; }
.slider li { list-style: none; }
.slider ul li { float: left;background: #FAFAFA; }
.slider ul li div {padding:0 15%;}

.slider blockquote {font-style: italic; text-align: left;}
.slider cite {display: block; margin-top: 20px; background-size: 50px; padding: 15px 0 20px 60px; background-repeat: no-repeat;}
.slider cite#ronen {background-image: url(img/ronen-manager.png);}

.slider .btn, .slider .dot {
		-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	}
	
	.slider .dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 10px;
		text-align: center;
	}
		.slider .dots li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 4px;
			
			text-indent: -999em;
			
			border: 2px solid #979797;
			border-radius: 6px;
			
			cursor: pointer;
			opacity: .4;
			
			-webkit-transition: background .5s, opacity .5s;
			-moz-transition: background .5s, opacity .5s;
			transition: background .5s, opacity .5s;
		}
			.slider .dots li.active {
				background: #979797;
				opacity: 1;
			}




.voir-plus-container, .start-container{display: block; margin: 80px auto;text-align: center;}
.voir-plus, .start {font-weight: bold;text-transform: uppercase;padding: 7px 60px;font-size: 1.5em; display: inline; }
.voir-plus {color: #FFC300;border: solid 2px #FFC300;}
.start {color: #6BE05E;border: solid 2px #6BE05E;}


.icon {height: 120px; margin: auto; display: block;}

.approche {background: #FAFAFA; padding-top: 30px; padding-bottom:50px; margin-top: 34px;}
.etapes {margin-top: 40px;}
.approche-div { padding: 40px 10%; background-size: 50px !important; background-repeat: no-repeat !important; margin-bottom: 20px;background-position: 0 -1px;}
#approche-1 {color: white; background-color: #FFC300; background-image: url(img/approche1.png); margin-right: -5px;}
#approche-2 {color: white; background-color: #E4538F; background-image: url(img/approche2.png); margin-right: -5px;}
#approche-3 {color: white; background-color: #80DA76; background-image: url(img/approche3.png); margin-left: -5px;}
#approche-4 {color: white; background-color: #32B1E8; background-image: url(img/approche4.png); margin-left: -5px; }
#approche-5 {color: white; background-color: #414953; background-image: url(img/approche5.png); margin-left: -5px;}

.experience p {text-align: center;}

.services {margin-bottom: 40px;}

img.portrait {width: 75%; display: block; margin: auto;}
.name {margin-bottom: 0px; font-weight: 400; font-size: 1.2em; border-top: solid 1px #E62C79; line-height: 120%}
.role {color: #E62C79; font-size: 1em; line-height: 120%}

.career {margin-top: 70px;}
.fist { background: url(img/career.png) no-repeat; background-size: 50px; background-position: right 20px center; padding: 30px 90px 30px 0; text-align: right; font-weight: 600; }

.function_form {color: white; font-size: 1.5em; line-height: 120%; font-weight: 400;}

.contact-banner {padding: 20px;}
#enveloppe {width: 100%; height: auto;}
.path {stroke-dasharray: 1000;stroke-dashoffset: 1000;-webkit-animation: dash 3s linear forwards;-moz-animation: dash 3s linear forwards;animation: dash 3s linear forwards;;}

@-webkit-keyframes dash {
  to { stroke-dashoffset: 0;}
}

@-moz-keyframes dash {
  to { stroke-dashoffset: 0;}
}

@keyframes dash {
  to { stroke-dashoffset: 0;}
}

.contact-us {color: white; font-size: 1.2em; line-height: 120%;}
#contacttext {margin-bottom:0; font-weight : 400; max-width:340px;}
.contact-us p {margin-bottom: 0;}

/*------------------------------------*\
    IMAGES
\*------------------------------------*/





/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:580px) {
	.contact-us {font-size: 1.5em;}
	.function_form {font-size: 4em;}
}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}



